/* src/main/webapp/css/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-statistics-container {
  padding: 20px;
  display:flex;
  text-align: center;
  background-color: red;
  border-radius: 8px;
  margin-top: 20px;
}

.custom-statistics-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}


